input#shCheckbox:not(:checked),
input#shCheckbox:checked {
	position: absolute;
	left: -9999px;
}
input#shCheckbox:not(:checked) + label,
input#shCheckbox:checked + label {
	position: relative;
	display: inline-block;
	padding-left: 75px;
	cursor: pointer;
}
input#shCheckbox:not(:checked) + label:before,
input#shCheckbox:checked + label:before,
input#shCheckbox:not(:checked) + label:after,
input#shCheckbox:checked + label:after {
	content: '';
	position: absolute;
}
input#shCheckbox:not(:checked) + label:before,
input#shCheckbox:checked + label:before {
	/* left:0; */
	top: 7px;
	width: 65px;
	height: 20px;
	background: #DDDDDD;
	border-radius: 15px;
	-webkit-transition: background-color .2s;
	-moz-transition: background-color .2s;
	-ms-transition: background-color .2s;
	transition: background-color .2s;
}
input#shCheckbox:not(:checked) + label:after,
input#shCheckbox:checked + label:after {
	width: 17px;
	height: 17px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
	border-radius: 50%;
	background: #7F8C9A;
	top: 8px;
	left: 5px;
}

/* on checked */
input#shCheckbox:checked + label:before {
	background:#34495E; 
}
input#shCheckbox:checked + label:after {
	background: #39D2B4;
	top: 2px; left: 40px;
}

input#shCheckbox:checked + label .ui,
input#shCheckbox:not(:checked) + label .ui:before,
input#shCheckbox:checked + label .ui:after {
	position: absolute;
	left: 6px;
	width: 65px;
	border-radius: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-ms-transition: all .2s;
	transition: all .2s;
}
input#shCheckbox:not(:checked) + label .ui:before {
	content: "no";
	left: 32px;
}
input#shCheckbox:checked + label .ui:after {
	content: "yes";
	color: #39D2B4;
}
input#shCheckbox:focus + label:before {
	border: 1px dashed #777;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin-top: -1px;
}
